<app-modal
  [title]="modalTitle"
  [subtitle]="modalSubtitle"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="Müəllimin kodu"
      placeholder="Müəllimin kodunu daxil edin"
      [(ngModel)]="data.teacher.code"
      name="code"
      type="number"
      [required]="true"
    ></app-input>

    <app-input
      label="Müəllimin soyadı, adı ata adı"
      placeholder="Müəllimin tam adını daxil edin"
      [(ngModel)]="data.teacher.fullname"
      name="fullname"
      [required]="true"
    ></app-input>

    <app-select
      label="Müəllimin rayonu / şəhəri"
      placeholder="Rayonu və ya şəhəri seçin"
      [options]="districtOptions"
      [(ngModel)]="selectedDistrictId"
      name="district"
      [required]="true"
    ></app-select>

    <app-select
      label="Müəllimin məktəbi"
      placeholder="Məktəbi seçin"
      [options]="schoolOptions"
      [(ngModel)]="selectedSchoolId"
      name="school"
      [required]="true"
      [disabled]="!selectedDistrict"
    ></app-select>

    <app-input
      label="Şagird sayı"
      placeholder="Şagird sayını daxil edin"
      [(ngModel)]="data.teacher.studentCount"
      name="studentCount"
      type="number"
      [required]="true"
    ></app-input>

    <app-select
      label="Müəllimi və şagirdlərini siyahıda göstər"
      placeholder="Seçin"
      [options]="activeOptions"
      [(ngModel)]="data.teacher.active"
      name="active"
      [required]="true"
    ></app-select>
  </form>
</app-modal>