<app-modal
  title="Yeni imtahanın əlavə edilməsi"
  subtitle="İmtahan məlumatlarını daxil edin"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="İmtahan adı"
      placeholder="İmtahan adını daxil edin"
      [(ngModel)]="data.name"
      name="name"
      [required]="true"
    ></app-input>

    <app-input
      label="İmtahan kodu"
      placeholder="İmtahan kodunu daxil edin"
      [(ngModel)]="data.code"
      name="code"
      [required]="true"
    ></app-input>

    <app-input
      label="İmtahan tarixi"
      placeholder="gün.ay.il formatında"
      [(ngModel)]="data.date"
      name="date"
      [required]="true"
    ></app-input>
  </form>
</app-modal>