<app-modal
  [title]="modalTitle"
  [subtitle]="modalSubtitle"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="İmtahanın adı"
      placeholder="İmtahanın adını daxil edin"
      [(ngModel)]="editedExam.name"
      name="name"
      [required]="true"
    ></app-input>

    <app-input
      label="İmtahanın kodu"
      placeholder="İmtahanın kodunu daxil edin"
      [(ngModel)]="editedExam.code"
      name="code"
      type="number"
      [required]="true"
    ></app-input>

    <app-input
      label="İmtahanın tarixi"
      placeholder="gün.ay.il formatında"
      [(ngModel)]="editedExam.dateString"
      name="date"
      [required]="true"
    ></app-input>
  </form>
</app-modal>
