<div class="breadcrumbs">
    <button mat-raised-button extended routerLink="/">
        <mat-icon>home</mat-icon>
        Baş səhifə
    </button>
</div>

<app-stats-filters
    [selectedTab]="selectedTab"
    [districts]="districts"
    [schools]="schools"
    [teachers]="teachers"
    [exams]="exams"
    [gradesOptions]="gradesOptions"
    [selectedDistrictIds]="selectedDistrictIds"
    [selectedSchoolIds]="selectedSchoolIds"
    [selectedTeacherIds]="selectedTeacherIds"
    [selectedGrades]="selectedGrades"
    [selectedExam]="selectedExam"
    [selectedMonth]="selectedMonth"
    (monthUpdated)="updateMonth($event)"
    (districtChanged)="onDistrictSelectChanged($event)"
    (schoolChanged)="onSchoolSelectChanged($event)"
    (teacherChanged)="onTeacherSelectChanged($event)"
    (gradeChanged)="onGradeSelectChanged($event)"
    (examChanged)="onExamSelectChanged($event)"
    (searchStringChanged)="onSearchChange($event)"
></app-stats-filters>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Ayın şagirdləri" [className]="darkMode ? 'dark-mode' : 'light-mode'">
        <app-students-month-tab
            [stats]="stats"
            [monthStudentColumns]="monthStudentColumns"
            [isLoading]="isloading"
            [labels]="{
            developing$: developingStudentsLabel$,
            ofMonth$: studentsOfMonthLabel$,
            republic$: studentsOfMonthByRepublicLabel$
            }"
            (excelExport)="exportToExcel($event)"
            (rowClicked)="openStudentDetails($event)"
        ></app-students-month-tab>
    </mat-tab>
    <mat-tab label="İlin şagirdləri">
        <app-students-year-tab
          [students]="stats.students ?? []"
          [displayedColumns]="studentColumns"
          [totalCount]="totalCounts.allStudentsTotalCount ?? 0"
          [pageIndex]="pageIndex"
          [pageSize]="studentsPageSize"
          [isLoading]="isloading"
          (sortChanged)="onSortChange($event)"
          (pageChanged)="onPageChange($event)"
          (exportClicked)="exportToExcel('allStudents')"
          (rowClicked)="openStudentDetails($event)"
        ></app-students-year-tab>
      </mat-tab>
    <mat-tab label="İlin müəllimləri">
        <div>
            <table mat-table [dataSource]="isloading ? [] : (stats.teachers || [])" class="mat-elevation-z8" matSort #teacherSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="teacherColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Müəllimin kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="fullName" *ngIf="teacherColumns.includes('fullName')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Soyadı, adı, ata adı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.fullname }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="teacherColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="teacherColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="school" *ngIf="teacherColumns.includes('school')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Məktəbi </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.school || '').name }} </td>
                </ng-container>
                
                <ng-container matColumnDef="district" *ngIf="teacherColumns.includes('district')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayonu / şəhəri </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.district || '').name }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="teacherColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: teacherColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.teachers && stats.teachers.length > 0">
                <mat-paginator
                    [length]="totalCounts.allTeachersTotalCount"
                    [pageIndex]="pageIndex"
                    [showFirstLastButtons]="true"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[100, 1000]"
                    (page)="onPageChange($event)"
                />
            </div>

            <div *ngIf="!isloading && stats.teachers && stats.teachers.length > 0">
                <button mat-raised-button (click)="exportToExcel('allTeachers')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin məktəbləri">
        <div>
            <table mat-table [dataSource]="isloading ? [] : (stats.schools || [])" class="mat-elevation-z8" matSort #schoolSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="schoolColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Məktəbin kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="name" *ngIf="schoolColumns.includes('name')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Adı </th>
                <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="schoolColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score | roundNumber }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="schoolColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
                
                <ng-container matColumnDef="district" *ngIf="schoolColumns.includes('district')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayonu / şəhəri </th>
                    <td mat-cell *matCellDef="let result"> {{ (result.district || '').name }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="schoolColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: schoolColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.schools && stats.schools.length > 0">
                <mat-paginator
                    [length]="totalCounts.allSchoolsTotalCount"
                    [pageIndex]="pageIndex"
                    [showFirstLastButtons]="true"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[100, 1000]"
                    (page)="onPageChange($event)"
                />
            </div>

            <div *ngIf="!isloading && stats.schools && stats.schools.length > 0">
                <button mat-raised-button (click)="exportToExcel('allSchools')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="İlin rayonları / şəhərləri">
        <div>
            <table mat-table [dataSource]="isloading ? [] : districtsDataSource" class="mat-elevation-z8" matSort #districtSort (matSortChange)="onSortChange($event)">
                <ng-container matColumnDef="code" *ngIf="districtColumns.includes('code')">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayon / şəhər kodu </th>
                    <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
                </ng-container>
                
                <ng-container matColumnDef="name" *ngIf="districtColumns.includes('name')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Adı </th>
                <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
                </ng-container>
        
                <ng-container matColumnDef="score" *ngIf="districtColumns.includes('score')">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
                <td mat-cell *matCellDef="let result"> {{ result.score }} </td>
                </ng-container>
    
                <ng-container matColumnDef="averageScore" *ngIf="districtColumns.includes('averageScore')">
                    <th mat-header-cell *matHeaderCellDef> Orta balı </th>
                    <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="districtColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: districtColumns;"></tr>
            </table>

            <div *ngIf="!isloading && stats.districts && stats.districts.length > 0">
                <button mat-raised-button (click)="exportToExcel('allDistricts')"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="stats-container" *ngIf="isloading">Statistika yüklənir...</div>

<mat-grid-list cols="4" rowHeight="100px" *ngIf="isAdminOrSuperAdmin$ | async">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="statistics-action">
            <button mat-raised-button (click)="updateStats()"><mat-icon>update</mat-icon> {{isUpdating ? 'Yenilənir...' : 'Statistikanı yenilə'}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>