<div class="breadcrumbs">
    <button mat-raised-button extended routerLink="/">
        <mat-icon>home</mat-icon>
        Baş səhifə
    </button>
</div>

<app-stats-filters
    [selectedTab]="selectedTab"
    [districts]="districts"
    [schools]="schools"
    [teachers]="teachers"
    [exams]="exams"
    [gradesOptions]="gradesOptions"
    [selectedDistrictIds]="selectedDistrictIds"
    [selectedSchoolIds]="selectedSchoolIds"
    [selectedTeacherIds]="selectedTeacherIds"
    [selectedGrades]="selectedGrades"
    [selectedExamIds]="selectedExamIds || ''"
    [selectedMonth]="selectedMonth"
    (monthUpdated)="updateMonth($event)"
    (districtChanged)="onDistrictSelectChanged($event)"
    (schoolChanged)="onSchoolSelectChanged($event)"
    (teacherChanged)="onTeacherSelectChanged($event)"
    (gradeChanged)="onGradeSelectChanged($event)"
    (examChanged)="onExamSelectChanged($event)"
    (searchStringChanged)="onSearchChange($event)"
></app-stats-filters>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Ayın şagirdləri" [className]="darkMode ? 'dark-mode' : 'light-mode'">
        <app-students-month-tab
            [stats]="stats"
            [monthStudentColumns]="monthStudentColumns"
            [isLoading]="isloading"
            [labels]="{
                developing$: developingStudentsLabel$,
                ofMonth$: studentsOfMonthLabel$,
                republic$: studentsOfMonthByRepublicLabel$
            }"
            (excelExport)="exportToExcel($event)"
            (rowClicked)="openStudentDetails($event)"
        ></app-students-month-tab>
    </mat-tab>
    <mat-tab label="İlin şagirdləri">
        <app-students-year-tab
          [students]="stats.students ?? []"
          [displayedColumns]="studentColumns"
          [totalCount]="totalCounts.allStudentsTotalCount ?? 0"
          [pageIndex]="pageIndex"
          [pageSize]="studentsPageSize"
          [isLoading]="isloading"
          (sortChanged)="onSortChange($event)"
          (pageChanged)="onPageChange($event)"
          (exportClicked)="exportToExcel('allStudents')"
          (rowClicked)="openStudentDetails($event)"
        ></app-students-year-tab>
      </mat-tab>
    <mat-tab label="İlin müəllimləri">
        <app-teachers-year-tab
            [teachers]="stats.teachers ?? []"
            [displayedColumns]="teacherColumns"
            [totalCount]="totalCounts.allTeachersTotalCount ?? 0"
            [pageIndex]="pageIndex"
            [isLoading]="isloading"
            (sortChanged)="onSortChange($event)"
            (pageChanged)="onPageChange($event)"
            (exportClicked)="exportToExcel('allTeachers')"
        ></app-teachers-year-tab>
    </mat-tab>
    <mat-tab label="İlin məktəbləri">
        <app-schools-year-tab
            [schools]="stats.schools ?? []"
            [displayedColumns]="schoolColumns"
            [totalCount]="totalCounts.allSchoolsTotalCount ?? 0"
            [pageIndex]="pageIndex"
            [isLoading]="isloading"
            (sortChanged)="onSortChange($event)"
            (pageChanged)="onPageChange($event)"
            (exportClicked)="exportToExcel('allSchools')"
        ></app-schools-year-tab>
    </mat-tab>
    <mat-tab label="İlin rayonları / şəhərləri">
        <app-districts-year-tab
            [districts]="stats.districts ?? []"
            [displayedColumns]="districtColumns"
            [totalCount]="totalCounts.allDistrictsTotalCount ?? 0"
            [pageIndex]="pageIndex"
            [isLoading]="isloading"
            (sortChanged)="onSortChange($event)"
            (pageChanged)="onPageChange($event)"
            (exportClicked)="exportToExcel('allDistricts')"
        ></app-districts-year-tab>
    </mat-tab>
</mat-tab-group>

<div class="stats-container" *ngIf="isloading">Statistika yüklənir...</div>

<mat-grid-list cols="4" rowHeight="100px" *ngIf="isAdminOrSuperAdmin$ | async">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="statistics-action">
            <button mat-raised-button (click)="updateStats()"><mat-icon>update</mat-icon> {{isUpdating ? 'Yenilənir...' : 'Statistikanı yenilə'}}</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>