<app-modal
  [title]="modalTitle"
  [subtitle]="modalSubtitle"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="İş nömrəsi"
      placeholder="İş nömrəsini daxil edin"
      [(ngModel)]="data.student.code"
      name="code"
      type="number"
      [required]="true"
    ></app-input>

    <app-input
      label="Şagirdin soyadı"
      placeholder="Şagirdin soyadını daxil edin"
      [(ngModel)]="data.student.lastName"
      name="lastName"
      [required]="true"
    ></app-input>

    <app-input
      label="Şagirdin adı"
      placeholder="Şagirdin adını daxil edin"
      [(ngModel)]="data.student.firstName"
      name="firstName"
      [required]="true"
    ></app-input>

    <app-input
      label="Şagirdin ata adı"
      placeholder="Şagirdin ata adını daxil edin"
      [(ngModel)]="data.student.middleName"
      name="middleName"
      [required]="true"
    ></app-input>

    <app-select
      label="Şagirdin rayonu / şəhəri"
      placeholder="Rayonu və ya şəhəri seçin"
      [options]="districtOptions"
      [(ngModel)]="selectedDistrictId"
      name="district"
      [required]="true"
    ></app-select>

    <app-select
      label="Şagirdin məktəbi"
      placeholder="Məktəbi seçin"
      [options]="schoolOptions"
      [(ngModel)]="selectedSchoolId"
      name="school"
      [required]="true"
      [disabled]="!selectedDistrict"
    ></app-select>

    <app-select
      label="Şagirdin sinfi"
      placeholder="Sinfi seçin"
      [options]="gradeOptions"
      [(ngModel)]="data.student.grade"
      name="grade"
      [required]="true"
    ></app-select>

    <app-select
      label="Şagirdin müəllimi"
      placeholder="Müəllimi seçin"
      [options]="teacherOptions"
      [(ngModel)]="selectedTeacherId"
      name="teacher"
      [required]="true"
      [disabled]="!selectedSchool"
    ></app-select>
  </form>
</app-modal>
