<div>
    <table mat-table [dataSource]="isLoading ? [] : districts" class="mat-elevation-z8" matSort #districtSort (matSortChange)="sortChanged.emit($event)">
        <ng-container matColumnDef="place" *ngIf="displayedColumns.includes('place')">
            <th mat-header-cell *matHeaderCellDef> Yer </th>
            <td mat-cell *matCellDef="let result; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>
        
        <ng-container matColumnDef="code" *ngIf="displayedColumns.includes('code')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayon / şəhər kodu </th>
            <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
        </ng-container>
        
        <ng-container matColumnDef="name" *ngIf="displayedColumns.includes('name')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adı </th>
        <td mat-cell *matCellDef="let result"> {{ result.name }} </td>
        </ng-container>

        <ng-container matColumnDef="score" *ngIf="displayedColumns.includes('score')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
        <td mat-cell *matCellDef="let result"> {{ result.score }} </td>
        </ng-container>

        <ng-container matColumnDef="averageScore" *ngIf="displayedColumns.includes('averageScore')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Orta balı </th>
            <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!isLoading && districts.length > 0">
        <button mat-raised-button (click)="exportClicked.emit()"><mat-icon>file_download</mat-icon> Excel-ə eksport et</button>
    </div>
</div>