<div>
    <div class="stats-container">
        <app-month-student-rating-table
          [title]="(ofMonthLabel$ | async) ?? 'Cari ayın şagirdləri'"
          tableName="studentsOfMonth"
          [dataSource]="stats.studentsOfMonth || []"
          [columns]="monthStudentColumns"
          [isLoading]="isLoading"
          [fullscreen]="fullscreen"
          (excelExport)="excelExport.emit('studentsOfMonth')"
          (rowClicked)="rowClicked.emit($event)"
          (sortChanged)="sortChanged.emit($event)"
        ></app-month-student-rating-table>
    </div>
</div>