<app-modal
  [title]="modalTitle"
  [subtitle]="modalSubtitle"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="E-mail"
      placeholder="E-mail ünvanını daxil edin"
      [(ngModel)]="dataSource.email"
      name="email"
      type="email"
      [required]="true"
    ></app-input>

    <app-input
      *ngIf="isNewUser()"
      label="Şifrə"
      placeholder="Şifrəni daxil edin"
      [(ngModel)]="dataSource.password"
      name="password"
      type="password"
      [required]="true"
    ></app-input>

    <app-input
      *ngIf="isNewUser()"
      label="Şifrəni təkrarlayın"
      placeholder="Şifrəni təkrar daxil edin"
      [(ngModel)]="repeatedPassword"
      name="repeatedPassword"
      type="password"
      [required]="true"
    ></app-input>

    <app-select
      label="Vəzifəsi"
      placeholder="Vəzifəni seçin"
      [options]="roleOptions"
      [(ngModel)]="dataSource.role"
      name="role"
      [required]="true"
    ></app-select>

    <app-select
      label="Təsdiq vəziyyəti"
      placeholder="Təsdiq vəziyyətini seçin"
      [options]="approvalOptions"
      [(ngModel)]="dataSource.isApproved"
      name="isApproved"
      [required]="true"
    ></app-select>
  </form>
</app-modal>