<app-modal
  [title]="modalTitle"
  [subtitle]="modalSubtitle"
  size="md"
  [buttons]="modalButtons"
  (closed)="onModalClose()"
>
  <form class="space-y-6">
    <app-input
      label="Məktəbin kodu"
      placeholder="Məktəbin kodunu daxil edin"
      [(ngModel)]="data.school.code"
      name="code"
      type="number"
      [required]="true"
    ></app-input>

    <app-input
      label="Məktəbin adı"
      placeholder="Məktəbin adını daxil edin"
      [(ngModel)]="data.school.name"
      name="name"
      [required]="true"
    ></app-input>

    <app-select
      label="Məktəbin rayonu / şəhəri"
      placeholder="Rayonu və ya şəhəri seçin"
      [options]="districtOptions"
      [(ngModel)]="selectedDistrictId"
      name="district"
      [required]="true"
    ></app-select>

    <app-input
      label="Şagird sayı"
      placeholder="Şagird sayını daxil edin"
      [(ngModel)]="data.school.studentCount"
      name="studentCount"
      type="number"
      [required]="true"
    ></app-input>

    <app-select
      label="Məktəbi, müəllimlərini və şagirdlərini siyahıda göstər"
      placeholder="Seçin"
      [options]="activeOptions"
      [(ngModel)]="data.school.active"
      name="active"
      [required]="true"
    ></app-select>
  </form>
</app-modal>