<div>
    <table mat-table [dataSource]="isLoading ? [] : teachers" class="mat-elevation-z8" matSort #teacherSort (matSortChange)="sortChanged.emit($event)">
        <ng-container matColumnDef="code" *ngIf="displayedColumns.includes('code')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Müəllimin kodu </th>
            <td mat-cell *matCellDef="let result"> {{ result.code }} </td>
        </ng-container>
        
        <ng-container matColumnDef="fullName" *ngIf="displayedColumns.includes('fullName')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Soyadı, adı, ata adı </th>
            <td mat-cell *matCellDef="let result"> {{ result.fullname }} </td>
        </ng-container>

        <ng-container matColumnDef="score" *ngIf="displayedColumns.includes('score')">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ümumi balı </th>
        <td mat-cell *matCellDef="let result"> {{ result.score | roundNumber }} </td>
        </ng-container>

        <ng-container matColumnDef="averageScore" *ngIf="displayedColumns.includes('averageScore')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Orta balı </th>
            <td mat-cell *matCellDef="let result"> {{ result.averageScore | roundNumber }} </td>
        </ng-container>

        <ng-container matColumnDef="school" *ngIf="displayedColumns.includes('school')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Məktəbi </th>
            <td mat-cell *matCellDef="let result"> {{ (result.school || '').name }} </td>
        </ng-container>
        
        <ng-container matColumnDef="district" *ngIf="displayedColumns.includes('district')">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rayonu / şəhəri </th>
            <td mat-cell *matCellDef="let result"> {{ (result.district || '').name }} </td>
        </ng-container>

        <ng-container matColumnDef="place" *ngIf="displayedColumns.includes('place')">
            <th mat-header-cell *matHeaderCellDef> Yer </th>
            <td mat-cell *matCellDef="let result; let i = index">
                {{ i + 1 }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!isLoading && teachers.length > 0">
        <mat-paginator
            [length]="totalCount"
            [pageIndex]="pageIndex"
            [showFirstLastButtons]="true"
            [pageSize]="pageSize"
            [pageSizeOptions]="[100, 1000]"
            (page)="pageChanged.emit($event)"
        />
    </div>

    <div *ngIf="!isLoading && teachers.length > 0">
        <button mat-raised-button (click)="exportClicked.emit()">
            <mat-icon>file_download</mat-icon> Excel-ə eksport et
        </button>
    </div>
</div>