/* COLORS */

$backgroundColor: #101414;
$backgroundColorGreen: #020f0f;
$white: #dae5e4;
$darkWhite: #a3acac;
//$cyan: #00ffff;
$cyan: #65d8d8;
$tabActiveDarkThemeColor: #bfa7e8;
$tabActiveLightThemeColor: #673ab7;
$selectedOptionDarkMode: #a685e2;
/* MARGINS */
$smallMargin: 15px;